{% extends 'base.html' %}
{% block content %}
<div class="header">
    <div class = "eventName">
        <p>Member Information</p>
    </div>
</div>
<div class="sidebar">
    <p><span><svg class="dash clickable" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>view-dashboard</title><path d="M13,3V9H21V3M13,21H21V11H13M3,21H11V15H3M3,13H11V3H3V13Z" /></svg></span>Dashboard</p>
    <ul>
        <a href="{{ url_for('dashboard') }}">
            <li class="clickable"><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>home</title><path d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z" /></svg></span>Home</li>
        </a>
        <a href="{{ url_for('events') }}">
            <li class="clickable"><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>briefcase</title><path d="M10,2H14A2,2 0 0,1 16,4V6H20A2,2 0 0,1 22,8V19A2,2 0 0,1 20,21H4C2.89,21 2,20.1 2,19V8C2,6.89 2.89,6 4,6H8V4C8,2.89 8.89,2 10,2M14,6V4H10V6H14Z" /></svg></span>Events</li>
        </a>
        <a href="{{ url_for('members') }}">
            <li class="clickable"><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>account-group</title><path d="M12,5.5A3.5,3.5 0 0,1 15.5,9A3.5,3.5 0 0,1 12,12.5A3.5,3.5 0 0,1 8.5,9A3.5,3.5 0 0,1 12,5.5M5,8C5.56,8 6.08,8.15 6.53,8.42C6.38,9.85 6.8,11.27 7.66,12.38C7.16,13.34 6.16,14 5,14A3,3 0 0,1 2,11A3,3 0 0,1 5,8M19,8A3,3 0 0,1 22,11A3,3 0 0,1 19,14C17.84,14 16.84,13.34 16.34,12.38C17.2,11.27 17.62,9.85 17.47,8.42C17.92,8.15 18.44,8 19,8M5.5,18.25C5.5,16.18 8.41,14.5 12,14.5C15.59,14.5 18.5,16.18 18.5,18.25V20H5.5V18.25M0,20V18.5C0,17.11 1.89,15.94 4.45,15.6C3.86,16.28 3.5,17.22 3.5,18.25V20H0M24,20H20.5V18.25C20.5,17.22 20.14,16.28 19.55,15.6C22.11,15.94 24,17.11 24,18.5V20Z" /></svg></span>Members</li>
        </a>
    </ul>
</div>
<div class="content">
    <div class="info">
        <p><span>Name:</span> {{ member.name }}</p>
        <p><span>Grade:</span> {{ member.grade }}</p>
        <p><span>Email:</span> {{ member.email }}</p>
        <p><span>ID:</span> {{ member.student_id }}</p>
        <p><span>Hours:</span> {{ member.hours }}</p>

        <div class="events">
            <p class="content-label"></p>
            {% for event in member.events %}
                <a class="clickable" href="{{ url_for('event', id = event.id) }}">
                    <div>
                        <p>{{ event.name }}</p>
                        {{ event.description }}
                    </div>
                </a>
            {% endfor %}
        </div>

    </div>
           
    
</div>
{% endblock %}